.nav_wrapper {
  max-width: 1080px;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 10px;
    height: 10px;
  }

  .list_container {
    display: flex;
    width: 20vw;
    flex-direction: row;
    justify-content: flex-end;

    li {
      margin: 0 20px;
      list-style: none;
    }
  }

  .link_text {
    font-size: 1.5rem;
  }
}
