.img_grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

//   .img_wrap {
//     overflow: hidden;
//     height: 0;
//     padding: 50% 0;
//     position: relative;
//     opacity: 0.8;

//     img {
//       min-width: 100%;
//       min-height: 100%;
//       max-width: 100%;
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//   }
}

@media (max-width: 900px) {
  .img_grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (max-width: 600px) {
  .img_grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;

    // .img_wrap img {
    //   max-width: 400px;
    // }
  }
}
